<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Инструмент "Текст"</h4>
    </div>
    <div class="card-body">
        <p>Инструменты группы <b>Текст</b> (комбинация клавиш <b>ctrl + T</b>) предназначены для создания текстовых блоков горизонтальной или вертикальной направленности. По умолчанию на панели инструментов главным инструментом данной группы является инструмент создания горизонтального текста. Инструмент <b>Вертикальный текст</b> вызывается из контекстного меню инструмента <b>Горизонтальный текст</b>, открываемого нажатием и удержанием курсора на кнопке последнего до появления меню.</p>
        
        <p>Чтобы добавить текст к композиции, активируйте один из инструментов группы <b>Текст</b> и кликните в том месте композиции, где хотите поместить текстовый блок. После этого в выбранной области появится мигающий курсор, что означает готовность программы к вводу текста. Создайте текстовый фрагмент, далее кликните в любом месте окна, ваш текст будет автоматически сохранен.</p>

        <p>Для изменения параметров текста используются инструменты панелей <b>Символ</b> и <b>Абзац</b>. Кроме этого, вы можете изменять размер текстового объекта с помощью инструмента <b>Выделение</b>, поставив курсор на один из маркеров по периметру объекта и передвигая его в нужном направлении при нажатой левой кнопке мыши.</p>

        <p>Во вкладке <b>Символ</b> можно задать такие параметры, как шрифт текста, размер шрифта, стиль начертания, размеры промежутков между символами, а также цвет текста и фона. Вкладка <b>Абзац</b> предназначена для задания размеров отступов и направления выравнивания текста.</p>

        <img src="src/pages/content/теория/инструменты/текст/img/символ_и_абзац.png" alt="Окна Символ и Абзац" class="img-small">
        <div class="caption">Окна "Символ" и "Абзац"</div>
    </div>
</div>
