<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Применение эффектов и шаблонов</h4>
    </div>
    <div class="card-body">
        <p>Доступ к различным эффектам и шаблонам анимации программы Adobe After Effects осуществляется либо через раздел меню <b>Эффекты</b>, либо с помощью специального окна <b>Эффекты и шаблоны</b>. Чтобы добавить тот или иной эффект, необходимо сначала найти его в списке эффектов, либо раскрывая содержимое соответствующих папок нажатием на изображение треугольника рядом с их названием, либо введя наименование искомого эффекта в поле поиска, в левой части которого изображена лупа.</p>

        <p>После того как эффект найден, нужно выделить его и, удерживая нажатой левую кнопку мыши, перетащить его в окно <b>Композиция</b> на соответствующий клип. Либо сначала выделите объект, на который будет накладываться эффект, в окне <b>Композиция</b> и затем дважды кликните левой кнопкой мыши по названию выбранного эффекта в окне <b>Эффекты и шаблоны</b>.</p>

        <p>После добавления эффекта перечень его свойств автоматически отобразится в окне <b>Элементы управления эффектами</b>. Здесь можно подключать или отключать определенные элементы эффекта и изменять настройки имеющихся параметров.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/применение_эффектов_и_шаблонов/img/управление_эффектами.png" alt="Окно Элементы управления эффектами" class="img-small">
        <div class="caption">Окно "Элементы управления эффектами"</div>
    </div>
</div>
