<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Окно "Композиция"</h4>
    </div>
    <div class="card-body">
        <p>Окно <b>Композиция</b> отражает процесс редактирования и добавления различных эффектов к выбранному материалу. Рядом с названием окна отображается название редактируемого файла.</p>

        <img src="src/pages/content/теория/окна_программы/композиция/img/окно_композиция.png" alt="Окно Композиция" class="img-large">
        <div class="caption">Окно "Композиция"</div>

        <p>Если кликнуть по названию данного файла, откроется контекстное меню заголовка, в котором доступны следующие опции: Создать средство просмотра композиции, флаг Заблокировано, Закрыть, Закрыть все.</p>

        <img src="src/pages/content/теория/окна_программы/композиция/img/контекстное_меню_заголовка.png" alt="Контекстное меню заголовка" class="img-small">
        <div class="caption">Контекстное меню заголовка</div>

        <p>В нижней части окна находится панель управления с кнопками: Всегда использовать предпросмотр для данного вида, флаг Основное средство просмотра, Выбор среды с эффектом погружения, Параметры сетки и направляющих, Сделать снимок, Настройки каналов и управления цветом и т. д.</p>

        <img src="src/pages/content/теория/окна_программы/композиция/img/панель_управления.png" alt="Панель управления" class="img-small">
        <div class="caption">Панель управления</div>

        <p>В правом верхнем углу окна находится кнопка вызова контекстного меню окна, которое, помимо стандартных опций открепления и закрытия панели, содержит такие команды, как: Параметры просмотра, Настройки композиции, Показать навигатор композиции, Переместить справа налево/слева направо, Включить наложение кадров, Включить размытие в движении и т. д.</p>

        <img src="src/pages/content/теория/окна_программы/композиция/img/контекстное_меню_окна.png" alt="Контекстное меню окна" class="img-small">
        <div class="caption">Контекстное меню окна</div>
    </div>
</div>
