<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Окно "Предпросмотр"</h4>
    </div>
    <div class="card-body">
        <p>Окно <b>Предпросмотр</b> состоит преимущественно из кнопок управления предварительным просмотром клипов.</p>

        <img src="src/pages/content/теория/окна_программы/предпросмотр/img/окно_предпросмотр.png" alt="Окно Предпросмотр" class="img-small">
        <div class="caption">Окно "Предпросмотр"</div>

        <p>Верхняя панель данного окна включает в себя кнопки: Первый кадр, Предыдущий кадр, Воспроизвести/Остановить, Следующий кадр, Последний кадр.</p>

        <p>В следующем ряду задаются параметры для комбинаций клафиш управления предпросмотром, включение видео/аудио при предпросмотре, параметры цикла, Частота кадров, Число кадров, исключенных из оцифровки и Разрешение.</p>

        <p>Параметр <b>Разрешение</b> имеет шесть возможных режимов: Автоматически, Полное, Половина, Треть, Четверть, Другое.</p>

        <p>Последний ряд настроек определяет поведение при остановке воспроизведения: Воспроизведение кэшируемых кадров и перемещение ко времени предпросмотра.</p>
    </div>
</div>
