<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Окно "Проект"</h4>
    </div>
    <div class="card-body">
        <p>Окно <b>Проект</b> предназначено для отображения всех материалов, добавленных в создаваемый или редактируемый
            проект. Список ресурсов может содержать различные типы добавленных файлов: папки, фильмы в различных
            видеоформатах, композиции и т. д. Помимо стандартных медиафайлов, в программу Adobe After Effects могут быть
            добавлены различные проекты из других приложений Adobe, например Adobe Premiere или Adobe Illustrator. По
            каждому файлу, помимо имени, отображается дополнительная информация, а именно тип файла, размер,
            продолжительность, комментарии, директория расположения файла и дата создания.</p>

        <img src="src/pages/content/теория/окна_программы/проект/img/пример_окна_проект.png" alt="Пример окна Проект" class="img-small">
        <div class="caption">Пример окна "Проект"</div>

        <p>При выборе одного из файлов списка в верхней части окна будет отображена иконка видео или графического файла и справа от нее список свойств файла: размер, продолжительность, частота дискретизации, количество цветов, тип сжатия, число кадров в секунду и режим аудио.</p>

        <p>Вы можете отсортировать список файлов проекта по одному из вышеописанных критериев, кликнув левой кнопкой мыши по названию соответствующего столбца свойств.</p>

        <img src="src/pages/content/теория/окна_программы/проект/img/сортировка.png" alt="
Сортировка файлов по определенному критерию" class="img-small">
        <div class="caption">Сортировка файлов по определенному критерию</div>

        <p>Также можно скрыть ненужные столбцы, кликнув правой кнопкой мыши на панели названий свойств и в контекстном меню <b>Столбцы</b> отключив ненужные опции.</p>

        <img src="src/pages/content/теория/окна_программы/проект/img/столбцы.png" alt="Контекстное меню Столбцы" class="img-small">
        <div class="caption">Контекстное меню "Столбцы"</div>

        <p>В нижней панели окна содержатся кнопки управления файлами в окне проекта: Интерпретация видеоряда, Создать новую папку, Создать новую композицию, Настройки проекта, Удалить выбранные элементы проекта.</p>

        <img src="src/pages/content/теория/окна_программы/проект/img/нижняя_панель.png" alt="Панель управления" class="img-small">
        <div class="caption">Панель управления окна "Проект"</div>
    </div>
</div>
