<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Окно "Эффекты и шаблоны"</h4>
    </div>
    <div class="card-body">
        <p>Окно <b>Эффекты и шаблоны</b> содержит перечень всех доступных эффектов и шаблонов программы Adobe After Effects. Для применения того или иного эффекта откройте соответствующую категорию эффектов или шаблонов, кликнув по треугольнику слева от названия Категории, и затем аналогичным образом откройте папку, содержащую эффекты нужного подраздела.</p>

        <img src="src/pages/content/теория/окна_программы/эффекты_и_шаблоны/img/окно_эффекты_и_шаблоны.png" alt="Окно Эффекты и шаблоны" class="img-small">
        <div class="caption">Окно "Эффекты и шаблоны"</div>
        
        <p>Выбрав искомый эффект, кликните по нему и, удерживая нажатой левую кнопку мыши, перетащите эффект в окно <b>Композиция</b>. Альтернативным способом выбора нужного эффекта или шаблона является его поиск в соответствующей строке с изображением лупы. При вводе символов в данное поле список доступных элементов будет сокращаться, оставляя только те из них, которые содержат искомое слово.</p>

        <p>Для вызова контекстного меню окна используется кнопка в правом верхнем углу. Помимо стандартных команд управления окнами, здесь имеются такие опции, как Сохранить шаблон, Просмотр шаблонов, можно выбрать способ группировки эффектов (Категории, Папки проводника, По алфавиту) и выбрать различные флаги для фильтрации списка.</p>

        <img src="src/pages/content/теория/окна_программы/эффекты_и_шаблоны/img/контекстное_меню_окна.png" alt="Контекстное меню окна" class="img-small">
        <div class="caption">Контекстное меню окна "Эффекты и шаблоны"</div>
    </div>
</div>
