<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Инструмент "Поворот"</h4>
    </div>
    <div class="card-body">
        <p>Инструмент <b>Поворот</b> (клавиша <b>W</b>) используется в программе с целью осуществления операции вращения объектов или их составляющих. После активации данного инструмента курсор принимает форму незавершенной окружности со стрелкой на одном из концов.</p>

        <p>Чтобы провести операцию поворота определенного объекта, выделите инструмент <b>Поворот</b> и поместите курсор на тот объект, который хотите повернуть. Затем, удерживая нажатой левую кнопку мыши, перемещайте курсор по часовой или против часовой стрелки, после чего отпустите кнопку мыши. Амплитуда вращения увеличивается при постановке курсора ближе к центру объекта. В процессе вращения в окне <b>Информация</b> вы сможете наблюдать изменение координат курсора при его перемещении, а также изменение угла поворота. Если удерживать нажатой левую кнопку мыши при активном инструменте поворота и при этом нажать на клавишу <b>Shift</b>, то будет осуществлен поворот объекта на 45°.</p>
    </div>
</div>
