<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Открытие и сохранение документов</h4>
    </div>
    <div class="card-body">
        <p>Помимо создания новых проектов, в программе Adobe After Effects также часто используются команды открытия и сохранения документов. В меню <b>Файл</b> имеются четыре опции открытия документа: Открыть проект, Открыть недавний проект, Обзор в Bridge.</p>

        <p>При выборе команды <b>Открыть проект</b> появится окно со списком файлов и директорий на вашем компьютере, из которых необходимо выбрать искомый документ, после чего нажать на кнопку <b>Открыть</b>.</p>

        <p>Для сохранения документов доступны пять возможных опций: Сохранить, Сохранить как, Инкрементировать и сохранить.</p>

        <p>При выборе одного из вариантов сохранения, как и в случае открытия, появится окно со списком директорий на компьютере, в котором нужно выбрать желаемое месторасположение данного файла, указать его имя и выбрать формат, в котором он будет сохранен. Для подтверждения внесенных изменений нажмите на кнопку <b>Сохранить</b>.</p>
    </div>
</div>
