<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Инструмент "Рука"</h4>
    </div>
    <div class="card-body">
        <p>Второй элемент панели инструментов Adobe After Effects называется <b>Рука</b> (клавиша <b>H</b>). Основное предназначение данного инструмента состоит в осуществлении операций прокрутки изображения или шкалы, в случае если их размер превышает размеры соответствующего окна. Обычно с этой целью используются горизонтальные и вертикальные полосы прокрутки, однако инструмент Hand Tool зачастую оказывается более удобным в использовании.</p>

        <p>Чтобы увидеть данный инструмент в действии, выделите его на панели инструментов, а затем поставьте курсор на нужный объект или область и, удерживая нажатой левую кнопку мыши, перемещайте его в нужном направлении. После этого отпустите кнопку мыши. Прокручивать обычно можно влево/вправо или вверх/вниз, в зависимости от того, в каком направлении список или изображение не помещается в данное окно.</p>
    </div>
</div>
