<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Управление интерфейсом</h4>
    </div>
    <div class="card-body">
        <p>Благодаря своей гибкости интерфейс программы Adobe After Effects может быть настроен в соответствии с персональными предпочтениями каждого пользователя. Так, все имеющиеся окна и панели инструментов можно перемещать в окне программы, а также отсоединять или отключать их по желанию.</p>
        <p>Чтобы передвинуть определенное окно в другое место программы, кликните по названию этого окна и, удерживая нажатой левую кнопку мыши, переместите его в нужное положение. При этом в процессе перемещения выделяются фиолетовым цветом возможные области вставки данного окна при движении курсора над ними.</p>

        <img src="src/pages/content/теория/рабочая_область/управление_интерфейсом/img/перемещение_окна.png" alt="Пример перемещения окна" class="img-large">
        <div class="caption">Пример перемещения окна "Проект"</div>

        <p>Для выполнения различных операций редактирования в программе предусмотрен набор шаблонов рабочих сред в зависимости от задачи, стоящей перед пользователем Adobe After Effects.</p>

        <p>Каждый шаблон содержит определенный набор окон и панелей, необходимых для выполнения тех или иных действий в рамках конкретной задачи. Для активации одного из шаблонов рабочей среды перейдите в раздел меню <b>Окно</b> – <b>Рабочая среда</b> и выберите нужный шаблон.</p>

        <img src="src/pages/content/теория/рабочая_область/управление_интерфейсом/img/шаблоны.png" alt="Шаблоны рабочих сред" class="img-small">
        <div class="caption">Шаблоны рабочих сред</div>

        <p>Помимо заранее установленных шаблонов, вы можете создавать свои собственные шаблоны рабочей области. Для этого перейдите в раздел меню <b>Окно</b> и в списке <b>Рабочая среда</b> выберите пункт <b>Сохранить как новую рабочую среду</b>. Кроме того, вы можете удалить созданный шаблон рабочей среды в окне <b>Редактировать рабочие среды</b> либо восстановить стандартную рабочую область по умолчанию.</p>
    </div>
</div>
