<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Создание первой анимации</h4>
    </div>
    <div class="card-body">
        <p>Откройте проект по адресу <b>Материалы для практики/Работа с композициями/03 Создание первой анимации.aep</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/01.png" class="img-large">
        <div class="caption">Проект после открытия</div>

        <p>В этом уроке мы научимся создавать анимацию с помощью ключевых кадров. Ключевой кадр это установка определенного значения параметра в определенный момент времени.</p>

        <p>Обратите внимание на два первых слоя композиции. Первый представляет собой текст, а второй - логотип. Эти два слоя мы и будем анимировать. Выделите первый слой, откройте его параметр непрозрачности (клавиша T) и установите ему значение 0. Теперь нажмите на секундомер слева от имени параметра. Таким образом будет создан ключевой кадр в таймлайне в точке, на которую указывает текущий указатель времени.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/02.png" class="img-large">
        <div class="caption">Таймлайн после создания ключевого кадра</div>

        <p>Для создания анимации необходимо наличие хотя бы двух ключевых кадров в разных точках таймлайна. Переместим указатель на отметку в 1 секунду. Для удобства и точности рекомендуем кликнуть на значение отметки времени в левом верхнем углу таймлайна и ввести там значение 100, что будет соответствовать переходу к отметке 1 секунда.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/03.png" class="img-large">
        <div class="caption">Текущее положение указателя времени</div>

        <p>Теперь вернем значение 100 для параметра непрозрачности первого слоя. Обратите внимание, что новый ключевой кадр создался автоматически на отметке 1 секунда.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/04.png" class="img-large">
        <div class="caption">Изменения в таймлайне</div>

        <p>Вы можете переключаться между ключевыми кадрами с помощью кнопок в левом краю строки с соответствующим параметром. Левая кнопка позволяет переместиться к предыдущему кадру, а правая кнопка соответственно к следующему кадру. Средняя кнопка позволяет добавить или удалить ключевой кадр в данной отметке времени. Также, по внешнему виду средней кнопки можно определить, есть ли ключевой кадр в данной отметке времени или нет.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/05.png" class="img-large">
        <div class="caption">Кнопки для переключения между ключевыми кадрами</div>

        <p>Выделите второй слой. Откройте параметр положение (клавиша P) и добавьте для него ключевой кадр.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/06.png" class="img-large">
        <div class="caption">Первый ключевой кадр для второго слоя</div>

        <p>Теперь вернитесь на отметку 0 секунд. Теперь измените вертикальное положение слоя так, чтобы он был ниже нижнего края композиции.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/07.png" class="img-large">
        <div class="caption">Новый ключевой кадр для второго слоя</div>

        <p>Просмотрите получившуюся анимацию с помощью клавиши space (для остановки воспроизведения нажмите на клавишу ещё раз).</p>

        <p>Теперь сделаем так, чтобы текст появлялся после того, как логотип закончил перемещение. Все, что нам нужно для этого сделать это переместить полоску первого слоя в таймлане вправо на одну секунду. Чтобы перемещение "прилипало" к ключевым кадрам удерживайте shift, таким образом будет проще переместить полосу на одну секунду.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/08.png" class="img-large">
        <div class="caption">Первый слой в таймлайне после перемещения</div>

        <p>При воспроизведении анимации сейчас мы видим, что логотип движется всегда с одинаковой скоростью, а затем просто останавливается. Это называется <b>линейное движение</b>. Нам нужно сделать это движение плавнее. Для этого кликните по названию параметра <b>положение</b> второго слоя, таким образом выделятся все ключевые кадры этого параметра.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/09.png" class="img-large">
        <div class="caption">Ключевые кадры после выделения</div>

        <p>Откройте меню <b>Анимация - Помощник в работе с ключевыми кадрами - Плавное замедление</b>. В дальнейшем мы будем использовать для этого быструю клавишу <b>F9</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/10.png" class="img-large">
        <div class="caption">Добавление плавного замедления</div>

        <p>После этого должны измениться значки ключевых кадров в таймлайне. Это означает, что к ключевым кадрам применили сглаживание движения.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/img/11.png" class="img-large">
        <div class="caption">Значки ключевых кадров после сглаживания движения</div>

        <p>Если вы воспроизведете анимацию сейчас, то увидите как изменилось движение логотипа.</p>

        <p>Итоговое видео:</p>

        <iframe src="https://www.youtube.com/embed/7fau3NoI_CI" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
