<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Предварительный просмотр</h4>
    </div>
    <div class="card-body">
        <p>Предварительный просмотр используется в программе Adobe After Effects с целью отслеживания процесса редактирования медиафайлов и, при необходимости, для выявления и устранения ошибок и дефектов перед началом оцифровки.</p>
        
        <p>Управление предварительным просмотром происходит в специальном окне <b>Предпросмотр</b>, содержащем кнопки Воспроизведение/Пауза, Переход к первому/последнему или Переход к предыдущему/следующему кадру и другие настройки просмотра. Сам процесс воспроизведения ролика осуществляется в окне <b>Композиция</b>. При этом в процессе просмотра в окне Info появляется строчка, показывающая текущее количество кадров в секунду.</p>
    </div>
</div>
