<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Создание первой композиции</h4>
    </div>
    <div class="card-body">
        <p>Откройте файл проекта по адресу <b>Материалы для практики/Работа с композициями/01 Создание первой композиции.aep</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/01.png" class="img-small">
        <div class="caption">Содержимое окна "Проект" после открытия файла</div>

        <p>Композиция представляет собой контейнер, в котором вы можете наслаивать файлы друг на друга и управлять их отображением.</p>

        <p>Давайте создадим первую композицию. Существует несколько способов создания композиции.</p>

        <p>Первый способ - выбрать пункт <b>Новая композиция</b> в меню <b>Композиция</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/02.png" class="img-small">
        <div class="caption">Создание композиции</div>

        <p>После этого откроется окно настройки новой композиции. В нем можно выбрать готовый шаблон настроек, либо самостоятельно выбрать требуемую ширину, высоту, частоту кадров, длительность, цвет фона и другие настройки.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/03.png" class="img-small">
        <div class="caption">Окно настройки композиции</div>

        <p>Мы воспользуемся другим способом для создания композиции. Закройте окно настройки композиции, если оно у вас открыто. В окне <b>Проект</b> перетащите файл <b>Summer_Forest.mp4</b> на кнопку <b>Создать новую композицию</b>, как показано на картинке ниже.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/04.png" class="img-small">
        <div class="caption">Окно настройки композиции</div>

        <p>После этого создастся новая композиция, видео добавится в окне Композиция и как новый слой в окне Таймлайн. Затем нам нужно добавить файл с логотипом <b>APEAK_Logo.ai</b> в нашу композицию. Для этого перетаскиваем файл из окна Проект в окно Таймлайн, как на рисунке ниже. Обратите внимание, что новый слой должен находится выше старого, так как порядок слоев влияет на их отображение.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/05.png" class="img-small">
        <div class="caption">Добавление нового слоя</div>

        <p>Сейчас нам нужно изменить время появления логотипа. Обратите внимание на правую часть окна Таймлайн, а именно на синюю вертикальную линию, которая называется <b>Текущий указатель времени</b>. Удерживая его за верхнюю утолщенную часть можно перемещаться по таймлайну и переходить к интересующему нас отрезку времени видео. Перейдите на отметку 2 секунд. Текущую отметку времени в секундах и кадрах можно узнать в левом верхнем углу окна Таймлайн.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/06.png" class="img-large">
        <div class="caption">Текущее положение указателя времени</div>

        <p>Выберите слой с логотипом, если он ещё не выбран, наведите курсор мыши на левый край полоски соответствующего слоя в правой части окна Таймлайн, чтобы курсор мыши сменил свой вид на две горизонтальные стрелки, а затем зажмите левую клавишу мыши и переместите начало полосы до отметки в 2 секунды. Чтобы курсор прилипал к отметке указателя используйте клавишу shift.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/07.png" class="img-large">
        <div class="caption">Изменение позиции начала отображения слоя</div>

        <p>Давайте уменьшим длительность нашей композиции до 5 секунд. Для этого выделим её в окне Проект и перейдем в меню Композиция - Настройки композиции. В поле Длительность впишите значение 500. Это соответствует 5 секундам. Нажмите ОК.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/08.png" class="img-small">
        <div class="caption">Изменение длительности композиции</div>

        <p>Обратите внимание как в окне Таймлайн изменилась длительность композиции. Сейчас она должна составлять 5 секунд.</p>

        <p>На данный момент логотип не очень хорошо читается на фоне леса. Добавим промежуточный слой между логотипом и видео. Для этого кликните правой клавишей мыши в свободном месте окна Таймлайн и выберите Создать - Сплошная заливка. Откроется окно настройки сплошной заливки. В поле имя напишите "Зеленый". Нажмите на кнопку "Задать размеры композиции". Нажмите на кнопку с изображением пипетки и кликните в область с травой в окне предпросмотра. Итоговый вид окна представлен ниже. Нажмите ОК.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/09.png" class="img-small">
        <div class="caption">Параметры слоя с заливкой</div>

        <p>Переместите новый слой так, чтобы он оказался между старыми двумя слоями.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/10.png" class="img-small">

        <p>Сейчас новый слой непрозрачный и нужно это исправить. Нажмите на уголок слева от имени слоя, чтобы раскрыть список его параметров. Раскройте список Преобразовать. В конце списка можно увидеть параметр Непрозрачность. Кликните по его значению, отображенному синим цветом, введите значение 80 и нажмите Enter.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/img/11.png" class="img-small">
        <div class="caption">Параметры слоя с заливкой</div>

        <p>Получившееся видео можно увидеть ниже.</p>

        <iframe src="https://www.youtube.com/embed/FSGSkOf9j8E" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
