<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Окно "Таймлайн"</h4>
    </div>
    <div class="card-body">
        <p>Окно <b>Таймлайн</b> содержит в себе временную шкалу, на которой отображаются продолжительность редактируемого видео/ или аудиофайла, места расположения добавленных эффектов и их длительность и т. д.</p>

        <img src="src/pages/content/теория/окна_программы/таймлайн/img/окно_таймлайн.png" alt="Окно Таймлайн" class="img-large">
        <div class="caption">Окно "Таймлайн"</div>

        <p>Первая сверху горизонтальная панель, располагающаяся сразу под названием файла, содержит индикатор времени, окно поиска файлов в списке добавленных источников, а также кнопки: Графическое мини-представление композиции, Черновик 3D, Скрытие всех слоев, Включение наложение кадра, Включение размытие движением и Редактор диаграмм.</p>

        <img src="src/pages/content/теория/окна_программы/таймлайн/img/панель_инструментов_окна.png" alt="Панель инструментов окна" class="img-small">
        <div class="caption">Панель инструментов окна</div>

        <p>Вторая сверху панель содержит опции свойств перечисленных ниже файлов, а именно: Включение/Выключение видео, Включение/Выключение аудио, Скрытие всех видеофайлов, не являющихся сольными, Запрет изменения слоя, Маркировка, Номер слоя, Имя слоя, Скрытие слоя на таймлайне, Свернуть преобразования/Непрерывно растеризовать, Качество и выборка, Включение/Выключение эффектов, Наложение кадров, Размытие при движении, Корректирующий слой, Трехмерный слой. Для включения или отключения определенной опции объекта кликните по квадратику в соответствующей графе свойств объекта.</p>

        <img src="src/pages/content/теория/окна_программы/таймлайн/img/панель_опций_объектов.png" alt="Панель опций объектов" class="img-small">
        <div class="caption">Панель опций объектов</div>

        <p>В правой части данного окна находится непосредственно временная шкала, позволяющая перемещаться по кадрам клипа посредством маркеров. Для изменения масштаба данной шкалы используется линейка с ползунком на панели внизу.</p>

        <p>Для быстрого перехода к тем или иным командам данного окна можно использовать контекстное меню, вызываемое нажатием кнопки в правом верхнем углу окна.</p>

        <img src="src/pages/content/теория/окна_программы/таймлайн/img/контекстное_меню.png" alt="Контекстное меню окна" class="img-small">
        <div class="caption">Контекстное меню окна</div>
    </div>
</div>
