<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Инструмент "Масштаб"</h4>
    </div>
    <div class="card-body">
        <p>Третий инструмент панели инструментов Adobe After Effects – <b>Масштаб</b> (клавиша <b>Z</b>) – предназначен для изменения масштаба объектов и их элементов.</p>
        
        <p>Для проведения операции масштабирования выделите инструмент <b>Масштаб</b> и затем кликните левой кнопкой мыши по тому объекту, масштаб которого вы хотите увеличить. Кликните по объекту столько раз, во сколько необходимо увеличить объект. При этом курсор будет иметь вид лупы с изображением знака «плюс» внутри.</p>

        <p>Чтобы уменьшить масштаб объекта или слоя, нажмите и удерживайте клавишу <b>Alt</b>, кликая при этом левой кнопкой мыши по объекту. Вид курсора изменится на изображение лупы со знаком «минус» внутри.</p>

        <p>Следует заметить, что операцию масштабирования можно также осуществлять без использования данного инструмента. Так, для увеличения масштаба используется быстрая клавиша с изображением точки, а уменьшение масштаба можно произвести, нажимая на клавишу с изображением запятой.</p>
    </div>
</div>
