<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Главное меню</h4>
    </div>
    <div class="card-body">
        <p>Как было упомянуто в предыдущем уроке, главное меню программы состоит из разделов: Файл, Правка, Композиция, Слой, Эффект, Анимация, Вид, Окно и Справка.</p>

        <p>Раздел <b>Файл</b> состоит из команд управления файлами: Создать, Открыть проект, Закрыть, Сохранить а также Импорт/Экспорт</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/файл.png" alt="Меню Файл" class="img-small">
        <div class="caption">Раздел меню "Файл"</div>

        <p>В разделе меню <b>Правка</b> содержатся команды редактирования файлов, их элементов и рабочих областей, а также команды доступа к разделу
            <b>настроек программы</b> и <b>шаблонов</b>.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/правка.png" alt="Меню Правка" class="img-small">
        <div class="caption">Раздел меню "Правка"</div>

        <p>Раздел <b>Композиция</b> состоит из набора команд для управления композициями проекта, а именно команд создания новой композиции, задания настроек, операций обрезки, добавления в очередь на рендеринг и др.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/композиция.png" alt="Меню Композиция" class="img-small">
        <div class="caption">Раздел меню "Композиция"</div>

        <p>В разделе <b>Слой</b> содержатся элементы управления слоями композиции: создание и открытие слоя, добавление маски, изменение различных параметров слоя, а также группировка и упорядочивание слоев.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/слой.png" alt="Меню Слой" class="img-small">
        <div class="caption">Раздел меню "Слой"</div>

        <p>Раздел меню <b>Эффект</b> предназначен для применения различ/ ных эффектов и шаблонов к редактируемому объекту.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/эффект.png" alt="Меню Эффект" class="img-small">
        <div class="caption">Раздел меню "Эффект"</div>

        <p>Меню <b>Анимация</b> находятся команды открытия и сохранения шаблонов анимации, настройки анимации текстовых блоков, а также команды для работы с ключевыми кадрами анимации.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/анимация.png" alt="Меню Анимация" class="img-small">
        <div class="caption">Раздел меню "Анимация"</div>

        <p>В разделе <b>Вид</b> вы можете задать параметры масштаба, разрешения, отображения сеток и линеек и просмотра объекта в трехмерном режиме.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/вид.png" alt="Меню Вид" class="img-small">
        <div class="caption">Раздел меню "Вид"</div>

        <p>Раздел меню <b>Окно</b> предназначен для вызова и закрытия различных окон программы.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/окно.png" alt="Меню Окно" class="img-small">
        <div class="caption">Раздел меню "Окно"</div>

        <p>А традиционный раздел <b>Справка</b> содержит команды доступа к справочной информации по той или иной функциональной области программы, а также данным о текущей версии программы и ее разработчиках.</p>

        <img src="src/pages/content/теория/рабочая_область/главное_меню/img/справка.png" alt="Меню Справка" class="img-small">
        <div class="caption">Раздел меню "Справка"</div>
    </div>
</div>
