.card .card-title {
    margin-top: 0;
}

#content p, #content ul {
    text-align: justify;
}

#content img {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#content iframe {
    width: 100%;
    height: 430px;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.img-large {
    width: 100%;
}

.img-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0 0 10px;
}

.card-body h3 {
    text-align: center;
}

.modal-lg {
    max-width: max-content;
}

.modal-dialog .modal-body {
    padding: 12px 24px 24px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #9c27b0;
}

#toTop {
    position: fixed;
    top: 90px;
    margin: 0;
    display: none;
}
