.quiz-container {
    padding: 1em;
    max-width: 100%;
    margin: 1em auto;
}

/*.quiz-container a {*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*}*/

#quiz-header,
#quiz-start-screen,
#quiz-results-screen,
#quiz-counter {
    text-align: center;
}

.question {
    font-size: 1.25em;
}

.answers {
    list-style: none;
    padding: 0;
}

.answers a {
    color: white;
}

.answers a.correct {
    background: #090;
}
.answers a.incorrect {
    background: #c00;
}

.answers a.correct,
.answers a.incorrect {
    color: #fff;
}

#quiz-controls {
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 10px;
}

#quiz-response {}
#quiz-results {
    font-size: 1.25em;
}

/*#quiz-buttons a,*/
/*.quiz-container .quiz-button {*/
/*    display: inline-block;*/
/*    padding: 0.5em 1em;*/
/*    background: #333;*/
/*    color: #fff;*/
/*    border-radius: 10px;*/
/*}*/
/*#quiz-buttons a {*/
/*    background: #fff;*/
/*    color: #333;*/
/*}*/

/* Quiz State Overrides */

.quiz-results-state #quiz-controls {
    background: none;
    padding: 0;
}
/*.quiz-results-state #quiz-buttons a {*/
/*    background: #333;*/
/*    color: #fff;*/
/*}*/