<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Основные элементы интерфейса</h4>
    </div>
    <div class="card-body">
        <p>Интерфейс программы Adobe After Effects состоит из нескольких основных окон и панелей меню.</p>

        <img src="src/pages/content/теория/рабочая_область/основные_элементы_интерфейса/img/интерфейс.png" alt="Интерфейс программы" class="img-large">
        <div class="caption">Интерфейс программы</div>

        <p>В самом верху находится первый элемент интерфейса – главное меню, состоящее из таких разделов, как Файл, Правка, Композиция, Слой, Эффект, Анимация, Вид, Окно и Справка.</p>

        <img src="src/pages/content/теория/рабочая_область/основные_элементы_интерфейса/img/главное_меню.png" alt="Главное меню" class="img-small">
        <div class="caption">Главное меню</div>

        <p>Следующим элементом интерфейса, располагающимся непосредственно под главным меню, является стандартная панель инструментов, предоставляющая возможность быстрого доступа к наиболее часто использующимся операциям. В ее состав входят такие инструменты, как Выделение, Рука, Масштаб, Поворот, Универсальная камера, Панорамирование назад, Прямоугольник, Перо, Текст, Кисть, Штамп, Ластик, Кисть для ротоскопии и Булавка.</p>

        <img src="src/pages/content/теория/рабочая_область/основные_элементы_интерфейса/img/панель_инструментов.png" alt="Панель инструментов" class="img-large">
        <div class="caption">Панель инструментов</div>

        <p>Под вышеупомянутыми панелями располагаются основные окна для работы с программой, а именно окна проекта Project, композиции Composition, информации Info, эффектов и предустановок Effects and Presets и окно управления эффектами, располагающееся под окном проекта и носящее название текущего файла, открытого в нем. Окно проекта предназначено для импорта и управления  добавленными файлами, в окне управления эффектами осуществляется редактирование примененных эффектов. Окно композиции содержит настройки свойств рабочих объектов, таких как аудио/ и видеоклипов, изображений и т. д. В окне информации отображаются данные об используемой цветовой палитре, положении курсора, звуковых настройках. Окно эффектов и предустановок содержит списки категорий доступных эффектов и шаблонов, с помощью которых вы можете создать настоящий шедевр из своего видеоклипа или другого объекта.</p>
    </div>
</div>
