<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Оцифровка</h4>
    </div>
    <div class="card-body">
        <p>После того, как вы добавили и отредактировали все желаемые эффекты к вашему видеоролику, необходимо преобразовать этот набор различных элементов в готовый фильм. Для этого используется команда <b>Добавить в очередь рендеринга</b> раздела меню <b>Композиция</b>.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/оцифровка/img/очередь_рендеринга.png" alt="Окно Очередь рендеринга" class="img-large">
        <div class="caption">Окно "Очередь рендеринга"</div>

        <p>В нижней части программы появится окно <b>Очередь рендеринга</b>. В списке файлов, поставленных в очередь на оцифровку, можно изменить Настройки рендеринга, Модуль вывода, параметры сохранения журнала и путь для файла вывода.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/оцифровка/img/настройки_рендеринга.png" alt="Настройки рендеринга" class="img-large">
        <div class="caption">Окно "Настройки рендеринга"</div>

        <p>Если нажать на изображение треугольника слева от панели <b>Текущий модуль рендеринга</b>, ниже откроется перечень данных, касающихся текущего процесса оцифровки: Композиция, Слой, Этап и другие составляющие. После того как все желаемые файлы добавлены в очередь на оцифровку, нажмите на кнопку <b>Рендеринг</b>. Если при проведении оцифровки необходимо приостановить процесс, нажмите на кнопку <b>Пауза</b>, а для возобновления процесса – кнопку <b>Продолжить</b>. Для полной остановки оцифровки используйте кнопку <b>Остановить</b>.</p>
    </div>
</div>
