<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Окно "Аудио"</h4>
    </div>
    <div class="card-body">
        <p>Вкладка <b>Аудио</b> данного окна предназначена для регулировки уровня звука редактируемых клипов. Средний регулятор позволяет изменять уровень громкости сразу для обоих динамиков, тогда как регуляторы слева и справа от центрального отвечают за настройки соответствующих им динамиков. Также внизу можно ввести значение уровня громкости вручную.</p>

        <img src="src/pages/content/теория/окна_программы/аудио/img/окно_аудио.png" alt="Окно Аудио" class="img-small">
        <div class="caption">Окно "Аудио"</div>

        <p>Для вызова меню настройки опций предварительного прослушивания аудио нажмите на кнопку в правом верхнем углу окна <b>Аудио</b> и в контекстном меню выберите пункт <b>Параметры</b>. В открывшемся окне можно задать единицы измерения громкости – децибелы или проценты, а также минимальный шаг регулятора.</p>

        <img src="src/pages/content/теория/окна_программы/аудио/img/параметры_окна_аудио.png" alt="Параметры окна Аудио" class="img-small">
        <div class="caption">Параметры окна "Аудио"</div>
    </div>
</div>
