<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Анимирование документов, импортируемых из Adobe Illustrator и Adobe Photoshop</h4>
    </div>
    <div class="card-body">
        <p>Этот урок будет посвящен работе с документами, которые уже содержат слои и импортированы из таких программ как Adobe Photoshop и Adobe Illustrator.</p>

        <p>Для начала создайте пустой проект. Выполните двойной клик в окне <b>проект</b>. Откроется окно импорта файлов. Перейдите в директорию <b>Материалы для практики/Работа с композициями/Assets</b>. Кликните по файлу с именем <b>Owl_Preserve.ai</b>. В поле <b>Импортировать как</b> выберите пункт <b>Композиция - сохранить размеры слоев</b>. Нажмите клавишу <b>Импорт</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/014_анимирование_импортированных_документов/img/01.png" class="img-small">
        <div class="caption">Импорт файла</div>

        <p>Обратите внимание, что композиция в окне <b>проект</b> была создана автоматически. Кликните дважды по композиции, чтобы сделать ее активной в окнах <b>композиция</b> и <b>таймлайн</b>.</p>

        <p>Если вы выберите, например, слой с названием <b>Owl preserve</b>, то в окне <b>композиция</b> можно увидеть границы слоя. Если бы мы при импорте выбрали в поле <b>Импортировать как</b> пункт <b>Композиция</b>, то границы для слоя совпадали бы с границами самой композиции, что в некоторых случаях усложняло бы анимацию.</p>

        <p>Переместите слой <b>Owl preserve</b> в списке слоев так, чтобы он оказался на первом месте.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/014_анимирование_импортированных_документов/img/02.png" class="img-large">
        <div class="caption">Текущий порядок слоев</div>

        <p>Сейчас нам нужно сделать так, чтобы картинка с изображением совы появлялась постепенно. Так как картинка состоит из множества слоев, то было бы неудобно менять настройки непрозрачности для каждого из них. Вместо этого выделите слой с зеленым фоном (имя Green), нажмите сочетание клавиш ctrl+D чтобы сделать его копию и переместите копию слоя так, чтобы она оказалась на втором месте в списке.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/014_анимирование_импортированных_документов/img/03.png" class="img-large">
        <div class="caption">Текущий порядок слоев</div>

        <p>Откройте параметр непрозрачности для этого слоя (клавиша T) и создайте ключевой кадр в отметке 0 секунд. Затем перейдите к отметке в 1 секунду и уменьшите до нуля значения параметра непрозрачность.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/014_анимирование_импортированных_документов/img/04.png" class="img-large">
        <div class="caption">Ключевые кадры для второго слоя</div>

        <p>Сейчас если воспроизвести анимацию будет видно как появляется изображение совы, хотя мы изменили только параметр одного слоя.</p>

        <p>Теперь сделаем анимацию появления для слоя с текстом. Перейдите на отметку 1 секунды. Переместите начало первого слоя в таймлайне до отметки 1 секунда. Удерживайте shift для удобного перемещения к текущей отметке времени.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/014_анимирование_импортированных_документов/img/05.png" class="img-large">
        <div class="caption">Перемещение начала первого слоя</div>

        <p>Выделите первый слой и откройте его параметр непрозрачности (клавиша T). Измените его значение на 0 и создайте ключевой кадр в отметке 1 секунда. Чтобы перейти дальше на 1 секунду можно кликнуть по численному отображению времени в левом верхнем углу окна таймлайн и ввести "+100". После нажатия Enter текущий указатель времени переместится на отметку 2 секунды. Измените параметр непрозрачности на 100.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/014_анимирование_импортированных_документов/img/06.png" class="img-large">
        <div class="caption">Текущее состояние слоев</div>

        <p>Итоговое видео:</p>

        <iframe src="https://www.youtube.com/embed/gKCfyGb87Eo" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
