<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Добавление эффектов</h4>
    </div>
    <div class="card-body">
        <p>Откройте файл проекта по адресу <b>Материалы для практики/Работа с композициями/05 Добавление эффектов.aep</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/015_добавление_эффектов/img/01.png" class="img-large">
        <div class="caption">Проект после открытия</div>

        <p>В этом уроке мы познакомимся с эффектами. Эффекты позволяют изменять стиль отображения слоев.</p>

        <p>В окне <b>таймлайн</b> можно увидеть три слоя - изображение логотипа, зеленый фон и видео. В итоге должна получиться анимация появления логотипа из заднего плана.</p>

        <p>Для начала добавим появление размытия для слоя с видео. Выберите самый нижний слой. Затем откройте меню <b>Эффект - Размытие и резкость - Быстрое размытие по рамке</b></p>

        <img src="src/pages/content/практика/010_работа_с_композициями/015_добавление_эффектов/img/02.png" class="img-large">
        <div class="caption">Выбор эффекта</div>

        <p>После добавления эффекта появится окно управления эффектами. Убедитесь, что указатель времени сейчас в нулевой позиции. В окне управления эффектами нажмите на секундомер слева от имени параметра <b>Радиус размытия</b>, чтобы добавить ключевой кадр.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/015_добавление_эффектов/img/03.png" class="img-large">

        <p>Теперь перейдите на отметку 2 секунды и измените параметр <b>Радиус размытия</b> до значения 50.</p>

        <p>Чтобы ключевые кадры эффектов отображались в таймлайне выделите слой и нажмите клавишу <b>U</b>. Таким образом отобразятся все анимированные параметры.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/015_добавление_эффектов/img/04.png" class="img-large">
        <div class="caption">Ключевые кадры для размытия</div>

        <p>Можете подвигать отметку времени, чтобы просмотреть, как появляется размытие со временем.</p>

        <p>Теперь добавим эффект для логотипа. Мы будем использовать эффект под названием <b>Tiler</b>. Перейдите в окно <b>Эффекты и шаблоны</b> и введите "tiler" в строку поиска. В списке должен быть виден эффект <b>CC Tiler</b>. Перетащите его на логотип в композиции, тем самым вы добавите его к соответствующему слою.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/015_добавление_эффектов/img/05.png" class="img-large">
        <div class="caption">Добавление эффекта для логотипа</div>

        <p>Можете поиграть с параметром <b>Scale</b> эффекта, чтобы посмотреть, что делает данный эффект.</p>

        <p>Перейдите на отметку 1 секунда. Установите параметр <b>Scale</b> эффекта на значение 0 и нажмите на секундомер слева от названия параметра, чтобы добавить ключевой кадр. Перейдите на 2 секунды вперёд, для этого нажмите на цифровую отметку времени и введите "+200". Измените значение параметра <b>Scale</b> эффекта на значение 100.</p>

        <p>Если выбрать слой в таймлайне и нажать <b>U</b>, то можно увидеть ключевые кадры эффекта.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/015_добавление_эффектов/img/06.png" class="img-large">
        <div class="caption">Итоговый вид ключевых кадров</div>

        <p>Итоговое видео:</p>

        <iframe src="https://www.youtube.com/embed/MCIPnBDKBsY" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
