<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Инструмент "Выделение"</h4>
    </div>
    <div class="card-body">
        <p>Самым первым элементом панели инструментов Adobe After Effects является инструмент <b>Выделение</b> (клавиша <b>V</b>), используемый для выделения различных объектов. Объект, выделенный с помощью данного инструмента, обозначается специальной рамкой.</p>

        <p>После того как вы выделили один или несколько объектов, вы можете перемещать их с помощью перетаскивания. Для этого нужно поставить курсор на выбранный объект и, удерживая нажатой левую кнопку мыши, передвинуть курсор в нужное место программы.</p>

        <p>Помимо этого, с помощью данного инструмента вы можете изменять размеры выделенного объекта. Для этого необходимо поставить курсор на один из маркеров рамки вокруг объекта и, удерживая нажатой левую кнопку мыши, переместить курсор в нужном направлении, после чего отпустить кнопку мыши.</p>

        <p>Аналогичным образом с помощью данного инструмента вы можете выделять элементы списков файлов в окне Проект и др.</p>

        <p>Для выделения более чем одного файла необходимо нажать клавишу <b>Control</b> и, удерживая ее, кликнуть по каждому из файлов по очереди.</p>
    </div>
</div>
