<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Раздел "Практика"</h4>
    </div>
    <div class="card-body">
        <p>Выберите интересующий вас урок в меню слева.</p>

        <p><b>Внимание!</b> Не изменяйте файлы внутри Системы! Создайте копию директории <b>Материалы для практики</b> в личной папке и работайте с копией!</p>

        <p>Уроки в данной Системе рассчитаны на работу в <b>Adobe After Effects версии 17.0</b>. Соответствие уроков другим версиям не гарантируется.</p>
    </div>
</div>
