<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Импорт материалов</h4>
    </div>
    <div class="card-body">
        <p>После создания нового проекта вам потребуется добавить в него исходные материалы в виде видео/ или аудиороликов, изображений и т. д.</p>

        <p>Чтобы начать операцию импорта материалов, откройте раздел меню <b>Файл</b> и выберите в нем команду импорт. Появится контекстное меню, предлагающее на выбор различные варианты импорта.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/импорт_материалов/img/варианты_импорта.png" alt="Выбор варианта импорта" class="img-large">
        <div class="caption">Выбор варианта импорта</div>

        <p>Помимо вышеописанного способа, операция импорта материалов в проект доступна из контекстного меню окна <b>Проект</b>. Для его вызова кликните правой кнопкой мыши в свободном месте окна и выберите пункт <b>Импорт</b> либо <b>Импорт из недавнего видеоряда</b>. Последний пункт отвечает за добавление в проект недавно использованных материалов.</p>
    </div>
</div>
