<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Окно "Информация"</h4>
    </div>
    <div class="card-body">
        <p>Окно с заголовком <b>Информация</b> предназначено для отображения справочных сведений о том или ином файле. Слева показываются данные о цвете того фрагмента материала, над которым в настоящий момент помещен курсор. По умолчанию за основу принята трехцветная палитра RGB (красный, зеленый, синий).</p>

        <p>В блоке справа отображаются координаты курсора, наведенного на определенную область окна <b>Композиция</b>. В нижнем блоке отражается дополнительная информации о названии файла, координатах его расположения в окне
            <b>Композиция</b>, а также координаты сдвига, если таковой присутствует.</p>

        <img src="src/pages/content/теория/окна_программы/информация/img/окно_информация.png" alt="Окно Информация" class="img-small">
        <div class="caption">Окно "Информация"</div>

        <p>Чтобы изменить формат цветовой палитры, кликните в правом верхнем углу окна Info и в контекстном меню выберите один из вариантов отображения: Автоматическое отображение цветов, Проценты, Web-цвета, HSB, 8/10/16 битная схема, Десятичная дробь.</p>

        <img src="src/pages/content/теория/окна_программы/информация/img/контекстное_меню.png" alt="Контекстное меню окна Информация" class="img-small">
        <div class="caption">Контекстное меню окна "Информация"</div>
    </div>
</div>
