<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Инструмент "Штамп"</h4>
    </div>
    <div class="card-body">
        <p>Инструмент Штамп (комбинация клавиш <b>ctrl + B</b>) предназначен для проведения операции клонирования областей посредством копирования пикселей выделенной области изображения в другую. Подобного рода действие может понадобиться при наличии в области изображения нежелательных фрагментов, которые необходимо удалить, не нарушив при этом целостности фона.</p>

        <p>Чтобы осуществить операцию клонирования, активируйте инструмент <b>Штамп</b>, после чего подведите курсор в ту область изображения, пикселями которой будет заменен последующий объект. Нажмите на клавишу <b>Alt</b> и, удерживая ее, кликните левой кнопкой мыши. Во время данного действия форма курсора несколько изменится, что будет свидетельствовать о выборе материала для копирования.</p>

        <p>Затем переместите курсор в ту область, где находится нежелательный фрагмент, и кликните левой кнопкой мыши в пределах фрагмента столько раз, сколько необходимо для полного его закрашивания.</p>
    </div>
</div>
