<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Настройки программы</h4>
    </div>
    <div class="card-body">
        <p>Окно настроек программы Adobe After Effects вызывается из раздела меню <b>Правка</b> командой <b>Настройки</b>. При этом для быстрого доступа к различным разделам настроек контекстное меню содержит полный перечень этих разделов, которые также доступны в самом окне настроек.</p>

        <img src="src/pages/content/теория/рабочая_область/настройки_программы/img/настройки.png" alt="Меню настроек" class="img-large">
        <div class="caption">Меню настроек</div>

        <p>Первым в списке располагается раздел <b>Общие</b> для задания общих настроек, а именно: опций показа подсказок, создания слоев в начальной точке композиции, синхронизации времени всех элементов и т. д.</p>

        <img src="src/pages/content/теория/рабочая_область/настройки_программы/img/общие_настройки.png" alt="Общие настройки" class="img-large">
        <div class="caption">Общие настройки</div>

        <p>В разделе <b>Предпросмотр</b> задаются критерии предварительного просмотра: ограничение адаптивного разрешения, настройка качества и т. д.</p>

        <img src="src/pages/content/теория/рабочая_область/настройки_программы/img/настройки_предпросмотра.png" alt="Настройки предпросмотра" class="img-large">
        <div class="caption">Настройки предпросмотра</div>

        <p>Раздел <b>Показать</b> содержит параметры отображения пути движения – подраздел <b>Контур движения</b>, а также опции отключения эскизов на панели проектов и отслеживания процесса оцифровки на панели информации и временной шкале.</p>

        <p>В разделе <b>Импорт</b> определяются критерии импорта файлов в проект.</p>
        
        <p>Раздел <b>Вывод</b> содержит предельное количество файлов или размер видеофайлов в мегабайтах, при которых соответствующий материал разделяется на сегменты, использование имени файла и папки по умолчанию.</p>

        <p>В разделе <b>Сетки и направляющие</b> вы можете определить стиль, цвет и размеры добавляемых в рабочую область сетки, пропорциональной сетки, направляющих и безопасных областей.</p>

        <p>Раздел <b>Метки</b> позволяет изменить цвета, назначаемые различным меткам ресурсов по умолчанию.</p>

        <p>Раздел <b>Носитель и кэш диска</b> содержит настройки объема памяти, находящегося в распоряжении программы, опции подключения кэширования диска и соответствующего медиакэширования, а также возможность захвата XMP/метаданных при импорте.</p>

        <p>Раздел <b>Предпросмотр видео</b> содержит настройки предварительного просмотра материала, такие как выводящее устройство, режим, качество и продолжительность вывода, пропорции видеоэкрана.</p>

        <p>В разделе <b>Внешний вид</b> располагаются настройки интерфейса, такие как яркость и дополнительные опции.</p>

        <p>Раздел <b>Автосохранение</b> используется для задания критериев автоматического сохранения. </p>

        <p>Раздел <b>Память</b> посвящен настройкам параметров памяти и многопроцессорной обработки.</p>

        <p>В разделах <b>Аудиооборудование</b> и <b>Отображение аудиовыхода</b> настраиваются соответственно выходное аудиоустройство по умолчанию и свойства выходных аудиоканалов.</p>

        <p>Каждый из перечисленных подразделов содержит в правой части четыре кнопки управления окном настроек: OK предназначена для подтверждения выбора, <b>Отмена</b> – для отмены, <b>Предыдущий</b> и <b>Следующий</b> – для перехода к предыдущему и следующему разделам настроек соответственно.</p>
    </div>
</div>
