<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Главная</h4>
    </div>
    <div class="card-body">
        <h3 class="align-content-center">Добро пожаловать в инфорационную систему "Инструментальная среда After Effects"</h3>

        <p>Информационная система "Инструментальная среда After Effects" состоит из таких разделов как : Теория, Практика, Глоссарий и Тестирование.</p>

        <p>Структурированный теоретический материал раскрывает такие вопросы как: рабочая среда и рабочий процесс,
            Проекты и композиции, Импорт видеоряда, Слои и свойства, Виды и предпросмотр, Анимация и ключевые кадры,
            Цвет, Рисование, заливка цветом и контуры, Текст, Прозрачность и композиция, Эффекты и стили анимации,
            Рендеринг и экспорт. Все теоретические разделы имеют подразделы, а так же полезные ссылки.</p>

        <p>Практические упражнения уникальны, содержат подробные инструкции по выполнению. Упражнения расположенны по сложности. Порядок выполнения не фиксирован.</p>
    </div>
</div>