<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Инструмент "Кисть"</h4>
    </div>
    <div class="card-body">
        <p>Инструмент <b>Кисть</b> (комбинация клавиш <b>ctrl + B</b>) используется в программе Adobe After Effects, как и в большинстве графических редакторов, для рисования и изменения нарисованных объектов. При этом применение этого инструмента возможно только на открытом слое, но не в самой композиции.</p>
        
        <p>Выделив данный инструмент, перейдите в окно <b>Слой</b> и поставьте курсор в том месте, откуда хотите начать рисование. Удерживая нажатой левую кнопку мыши, перемещайте курсор для создания желаемого объекта. Закончив рисование, отпустите кнопку мыши. Данное действие можно повторять необходимое количество раз до тех пор, пока не будет создан нужный объект.</p>

        <p>Для изменения параметров кисти используются окна <b>Кисти</b> и <b>Раскрасить</b>. В первом окне задаются размер и форма кисти, тогда как во втором определяются параметры цвета, непрозрачности, режима наложения кисти, каналов, активируется инструмент определения цвета.</p>

        <img src="src/pages/content/теория/инструменты/кисть/img/кисти_и_раскарсить.png" alt="Окна кисти и раскрасить" class="img-small">
        <div class="caption">Окна "Кисти" и "Раскрасить"</div>
    </div>
</div>
