<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Создание композиции</h4>
    </div>
    <div class="card-body">
        <p>Чтобы создать новую композицию в программе Adobe After Effects, можно воспользоваться одним из трех способов:</p>
        <ol>
            <li>Нажатие кнопки "Создать композицию" в окне Композиция;</li>
            <li>Выбор пункта "Создать композицию" в контекстном меню окна Проект;</li>
            <li>Нажатие кнопки "Создать композицию" в окне Проект;</li>
        </ol>

        <p>Во всех трех случаях после вызова данной команды откроется окно настроек композиции <b>Настройки композиции</b>. В самом верхнем разделе окна необходимо задать имя создаваемой композиции. Затем во вкладке <b>Основные</b> выбрать один из вариантов шаблона настроек, ширину и высоту композиции в пикселях, Зафиксировать пропорции кадра, выбрать тип пропорций пикселя и указать частоту кадров. В следующем подразделе вкладки определяются параметры разрешения, а также время начала и продолжительность композиции.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/создание_композиции/img/основные_настройки_композиции.png" alt="Основные настройки композиции" class="img-large">
        <div class="caption">Основные настройки композиции</div>

        <p>Во вкладке <b>Дополнительно</b> можно задать дополнительные настройки, касающиеся привязки, угла и скорости затвора, количества сэмплов в кадре и лимит адаптивной дискретизации.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/создание_композиции/img/дополнительные_настройки_композиции.png" alt="Дополнительные настройки композиции" class="img-large">
        <div class="caption">Дополнительные настройки композиции</div>

        <p>В последней вкладке выбирается Модуль 3D-рендеринга.</p>

        <p>После создания новой композиции необходимо добавить в нее исходные материалы. Это можно сделать простым перетаскиванием нужных файлов из окна <b>Проект</b> в окно <b>Композиция</b>. Для этого выделите один или несколько объектов в окне <b>Проект</b> и, удерживая нажатой левую кнопку мыши, переместите курсор в рабочую область окна <b>Композиция</b>.</p>
    </div>
</div>
