<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Панель инструментов</h4>
    </div>
    <div class="card-body">
        <p>Стандартная панель инструментов Adobe After Effects, располагающаяся сразу под главным меню программы, предназначена для быстрого доступа к основным командам управления объектами.</p>

        <p>Инструмент <b>Выделение</b> предназначен для выполнения операции выделения, инструмент <b>Рука</b> используется для позиционирования и перемещения объектов по рабочей области. С помощью инструмента <b>Масштаб</b> осуществляется операция масштабирования.</p>

        <img src="src/pages/content/теория/рабочая_область/панель_инструментов/img/управление_объектами.png" alt="Блок инструментов выделения и позиционирования" class="img-small">
        <div class="caption">Блок инструментов выделения и позиционирования</div>

        <p>Следующий блок инструментов предназначен для вращения объектов: <b>Поворот</b>, <b>Универсальная камера</b> позволяет просмотреть объект в трехмерном формате, <b>Панорамирование назад</b> позволяет включить режим панорамного просмотра.</p>

        <img src="src/pages/content/теория/рабочая_область/панель_инструментов/img/вращение.png" alt="Блок инструментов вращения" class="img-small">
        <div class="caption">Блок инструментов вращения</div>

        <p>Третий блок состоит из трех основных инструментов: <b>Прямоугольник</b>, используемый для создания объектов прямоугольной формы; <b>Перо</b> и <b>Текст</b>, создающий текстовый блок.</p>

        <img src="src/pages/content/теория/рабочая_область/панель_инструментов/img/фигуры.png" alt="Блок инструментов для создания фигур" class="img-small">
        <div class="caption">Блок инструментов для создания фигур</div>

        <p>И последний блок содержит инструменты редактирования графических объектов: Кисть, Штамп, Ластик, Кисть для ротоскопии и Булавка.</p>

        <img src="src/pages/content/теория/рабочая_область/панель_инструментов/img/редактирование_графических_объектов.png" alt="Блок инструментов редактирования графических объектов" class="img-small">
        <div class="caption">Блок инструментов редактирования графических объектов</div>

        <p>Некоторые из перечисленных инструментов имеют <b>контекстное меню</b> с дополнительными инструментами соответствующей направленности. Чтобы открыть список альтернативных инструментов определенной группы, нажмите на изображение треугольника в правом нижнем углу соответствующей кнопки и удерживайте левую кнопку мыши до появления контекстного меню.</p>

        <img src="src/pages/content/теория/рабочая_область/панель_инструментов/img/контекстное_меню.png" alt="Контекстное меню универсальной камеры" class="img-small">
        <div class="caption">Контекстное меню инструмента "Универсальная камера"</div>

        <p>Чтобы закрыть стандартную панель инструментов, перейдите в раздел меню <b>Окно</b> и отключите команду <b>Инструменты</b>.</p>
    </div>
</div>
