<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Создание нового проекта</h4>
    </div>
    <div class="card-body">
        <p>Первый способ создания нового проекта в программе Adobe After Effects – это воспользоваться кнопкой <b>Новый проект</b> в <b>окне приветствия</b>, появляющимся при каждом запуске программы.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/создание_проекта/img/окно_приветствия.png" alt="Окно приветствия" class="img-large">
        <div class="caption">Окно приветствия</div>

        <p>Второй способ создания проекта заключается в использовании меню <b>Файл</b>, в котором нужно выбрать раздел <b>Создать</b> и в открывшемся контекстном меню – пункт <b>Новый проект</b>.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/создание_проекта/img/создание_проекта_в_меню_файл.png" alt="Создание проекта в меню Файл" class="img-large">
        <div class="caption">Создание нового проекта в меню "Файл"</div>

        <p>Чтобы задать свойства созданного проекта, нажмите на кнопку в правом верхнем углу окна <b>Проект</b> и выберите пункт <b>Настройки проекта</b>.</p>

        <p>В открывшемся окне имеются пять основных разделов установок: Рендеринг и эффекты видео, Формат рвеменной шкалы, Цвет, Аудио, Выражения.</p>

        <p>В разделе <b>Рендеринг и эффекты видео</b> выбирается тип программного ускорения для рендеринга эффектов.</p>

        <p>В разделе <b>Формат временной шкалы</b> выбирается формат для единиц измерения временной шкалы: Тайм-код или Кадры.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/создание_проекта/img/формат_временной_шкалы.png" alt="Формат временной шкалы" class="img-large">
        <div class="caption">Настройки формата временной шкалы</div>

        <p>В разделе <b>Цвет</b> выбирается глубина цвета и цветовую схему рабочего пространства.</p>

        <img src="src/pages/content/теория/работа_с_видеороликом/создание_проекта/img/настройки_цвета.png" alt="Настройки цвета" class="img-large">
        <div class="caption">Настройки цвета</div>

        <p>В разделе <b>Аудио</b> устанавливается частота дискретизации звука.</p>

        <p>В разделе <b>Выражения</b> выбирается движок для исполнения выражений.</p>
    </div>
</div>
