<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Расположение слоев на композиции</h4>
    </div>
    <div class="card-body">
        <p>Откройте файл проекта по адресу <b>Материалы для практики/Работа с композициями/02 Расположение слоев на композиции.aep</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/012_расположение_слоев_на_композиции/img/01.png" class="img-large">
        <div class="caption">Проект после открытия</div>

        <p>Существует несколько способов управления слоями: в окне <b>композиция</b> и в окне <b>таймлайн</b>. Начнём с первого способа и попробуем трансформировать слой прямо в окне <b>композиция</b>.</p>

        <p>Убедитесь, что выбран инструмент <b>выделение</b> и выделите логотип в окне <b>композиция</b>.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/012_расположение_слоев_на_композиции/img/02.png" class="img-small">
        <div class="caption">Выделенный логотип</div>

        <p>Теперь переместите логотип в нижнюю правую часть композиции. Важно при этом не трогать центральную (опорную) точку слоя.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/012_расположение_слоев_на_композиции/img/03.png" class="img-small">
        <div class="caption">Результат перемещения</div>

        <p>Уменьшим размер логотипа. Для этого нужно потянуть за точки по краям объекта. Удерживайте при этом клавишу <b>shift</b>, чтобы сохранялись пропорции изображения. Если открыть окно информации, то там будет отображаться текущее изменение масштаба объекта. Уменьшим масштаб объекта до 60%.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/012_расположение_слоев_на_композиции/img/04.png" class="img-small">
        <div class="caption">Результат масштабирования</div>

        <p>Обратите внимание, что масштабирование и поворот производится вокруг так называемой опорной точки. Опорная точка обычно находится в центре слоя. Для текстовых слоев её положение зависит от типа выравнивания текста.</p>

        <p>Выберите инструмент <b>поворот</b>. Обратите внимание, как меняется курсор при наведении на края объекта. Попробуйте повернуть объект вокруг опорной точки. При удержании клавиши <b>shift</b> поворот происходит на угол кратный 45 градусам.</p>

        <p>Когда закончите упражняться с поворотом объекта убедитесь, что угол поворота логотипа равен нулю.</p>

        <p>Другой способ управления объектами - через окно <b>таймлайн</b>. Выберите инструмент <b>выделение</b>. Раскройте список параметров первого слоя в окне <b>таймлайн</b>. Нажмите клавишу P чтобы отображались только параметры позиции объектов. У параметра <b>положение</b> есть два параметра, отвечающие соответственно за горизонтальное и вертикальное положение объектов. При наведении на один из параметров курсор мыши изменит свое отображение. Это значит, что при наведении на параметр можно зажать левую клавишу мыши и перемещая курсор мыши менять значение параметра. Попробуйте изменить таким образом второе значение параметра <b>положение</b> и опустить чуть ниже слой с логотипом.</p>

        <p>Для быстрой работы с окном композиции рекомендуем запомнить быстрые клавиши для отображения различных параметров:</p>
        <ul>
            <li><b>P</b> - позиция (<b>P</b>osition)</li>
            <li><b>S</b> - масштаб (<b>S</b>cale)</li>
            <li><b>R</b> - поворот (<b>R</b>otation)</li>
            <li><b>T</b> - непрозрачность (opaci<b>T</b>y)</li>
            <li><b>A</b> - опорная точка (<b>A</b>nchor point)</li>
        </ul>

        <p>С помощью манипуляций в окне <b>композиция</b> попробуйте изменить следующие параметры: опустите опорную точку так, чтобы она была между самим логотипом и текстом, а затем уменьшите непрозрачность до 50%. Ниже можно увидеть измененные параметры слоя и его положение в композиции.</p>

        <img src="src/pages/content/практика/010_работа_с_композициями/012_расположение_слоев_на_композиции/img/05.png" class="img-large">
        <div class="caption">Результат масштабирования</div>

        <p>Итоговое видео:</p>

        <iframe src="https://www.youtube.com/embed/WgGZOj2HRHE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
