<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Навигация</h4>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-primary flex-column">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Работа с композициями</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/практика/010_работа_с_композициями/011_создание_первой_композиции/создание_первой_композиции.html">Создание первой композиции</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/практика/010_работа_с_композициями/012_расположение_слоев_на_композиции/расположение_слоев_на_композиции.html">Расположение слоев на композиции</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/практика/010_работа_с_композициями/013_создание_первой_анимации/создание_первой_анимации.html">Создание первой анимации</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/практика/010_работа_с_композициями/014_анимирование_импортированных_документов/анимирование_импортированных_документов.html">Анимирование документов, импортируемых из Adobe Illustrator и Adobe Photoshop</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/практика/010_работа_с_композициями/015_добавление_эффектов/добавление_эффектов.html">Добавление эффектов</a>
                </div>
            </li>
        </ul>
    </div>
</div>
