<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Навигация</h4>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-primary flex-column">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Рабочая область</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/рабочая_область/основные_элементы_интерфейса/основные_элементы_интерфейса.html">Основные элементы интерфейса</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/рабочая_область/главное_меню/главное_меню.html">Главное меню</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/рабочая_область/панель_инструментов/панель_инструментов.html">Панель инструментов</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/рабочая_область/управление_интерфейсом/управление_интерфейсом.html">Управление интерфейсом</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/рабочая_область/настройки_программы/настройки_программы.html">Настройки программы</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Окна программы</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/окна_программы/проект/проект.html">Проект</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/окна_программы/композиция/композиция.html">Композиция</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/окна_программы/таймлайн/таймлайн.html">Таймлайн</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/окна_программы/информация/информация.html">Информация</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/окна_программы/аудио/аудио.html">Аудио</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/окна_программы/предпросмотр/предпросмотр.html">Предпросмотр</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/окна_программы/эффекты_и_шаблоны/эффекты_и_шаблоны.html">Эффекты и шаблоны</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Работа с видеороликом</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/работа_с_видеороликом/создание_проекта/создание_проекта.html">Создание нового проекта</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/работа_с_видеороликом/импорт_материалов/импорт_материалов.html">Импорт материалов</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/работа_с_видеороликом/открытие_и_сохранение_документов/открытие_и_сохранение_документов.html">Открытие и сохранение документов</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/работа_с_видеороликом/создание_композиции/создание_композиции.html">Создание композиции</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/работа_с_видеороликом/применение_эффектов_и_шаблонов/применение_эффектов_и_шаблонов.html">Применение эффектов и шаблонов</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/работа_с_видеороликом/предварительный_просмотр/предварительный_просмотр.html">Предварительный просмотр</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/работа_с_видеороликом/оцифровка/оцифровка.html">Оцифровка</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Инструменты</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/инструменты/выделение/выделение.html">Выделение</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/инструменты/рука/рука.html">Рука</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/инструменты/масштаб/масштаб.html">Масштаб</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/инструменты/поворот/поворот.html">Поворот</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/инструменты/текст/текст.html">Текст</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/инструменты/кисть/кисть.html">Кисть</a>
                    <a class="dropdown-item" href="#"
                       data-link-content="src/pages/content/теория/инструменты/штамп/штамп.html">Штамп</a>
                </div>
            </li>
        </ul>
    </div>
</div>
